// Colors
// grays
$white: #F2F2F2;
$gray-1: #BFBFBF;
$gray-2: #797979;
$gray-3: #333333;
$black: #000000;

// accent
$accent: #FF40BF;
$accent-1: #FFBFE9;
$accent-2: #FF99DD;
$accent-3: #800054;

//other
$success: #40FF40;
$success-alt: #62B262;

$warn: #FFFF40;
$warn-alt: #B2B262;

$error: #FF4040;
$error-alt: #B26262;

$info: #4080FF;
$info-alt: #627DB2;

// Typography
$font-heading: "Unbounded", sans-serif;
$font-body: "Monocraft", monospace;

// Rem
$n: 0.0625rem;
