@use './variables.scss' as *;

@use './mixins/spacing';
@use './mixins/absolute';
@use './mixins/radius';
@use './mixins/typography';
@use './mixins/colors';
@use './mixins/flex';
@use './mixins/misc';
@use './mixins/size';
@use './mixins/grid';
@use './mixins/align';

@use './adaptive.scss';

* {
  box-sizing: border-box;
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  padding: 0;
  border: none;
  outline: none;
  transition: all .333s cubic-bezier(0.22, 0.61, 0.36, 1);
  position: relative;
  text-decoration: none;
  list-style: none;
}

body {
  @extend .bg-black, .color-white;
}

svg {
  height: 1em;
  width: auto;
  vertical-align: middle;
  fill: currentColor;
  path {
    fill: currentColor;
  }
}
