@use '../variables.scss' as *;

$colors: (
  "white": $white,
  "gray-1": $gray-1,
  "gray-2": $gray-2,
  "gray-3": $gray-3,
  "black": $black,
  "accent": $accent,
  "accent-1": $accent-1,
  "accent-2": $accent-2,
  "accent-3": $accent-3,
  "success": $success,
  "success-alt": $success-alt,
  "warn": $warn,
  "warn-alt": $warn-alt,
  "error": $error,
  "error-alt": $error-alt,
  "info": $info,
  "info-alt": $info-alt
);

@each $name, $color in $colors {
  .bg-#{$name} { background-color: $color; }
  .color-#{$name} { color: $color; }
  .border-#{$name} { border-color: $color; }
  .outline-#{$name} { outline-color: $color; }

  @each $pos in (t, b, l, r) {
    .border-#{$name}#{$pos} {
      border-color:
        if($pos == t, $color transparent transparent transparent,
        if($pos == b, transparent transparent $color transparent,
        if($pos == l, transparent transparent transparent $color,
        transparent $color transparent transparent)));
    }
  }

  .hover\:bg-#{$name}:hover { background-color: $color; }
  .hover\:color-#{$name}:hover { color: $color; }
  .hover\:border-#{$name}:hover { border-color: $color; }
  .hover\:outline-#{$name}:hover { outline: $color; }
}

.transparent { background-color: transparent; }
