@use 'sass:list';
@use '../variables' as *;

$max: 6;

.gi {
  display: inline-grid;
}

@mixin masonry($columns, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap *$n;
  align-items: start;

  @supports (grid-template-rows: masonry) {
    grid-template-rows: masonry;
  }

  @supports not (grid-template-rows: masonry) {
    display: block;
    column-count: $columns;
    column-gap: $gap *$n;

    > * {
      break-inside: avoid;
      margin-bottom: $gap *$n;
      width: 100%;
    }
  }
}

@for $i from 1 through $max {
  .gc-#{$i} {
    display: grid;
    grid-template-columns: repeat(#{$i}, 1fr);
  }
  .gr-#{$i} {
    display: grid;
    grid-template-rows: repeat(#{$i}, 1fr);
  }
  @for $j from 0 through 32 {
    .gm-#{$i}-#{$j*2} {
    @include masonry($i, $j*2);
  }
  }
}
